[Unit]
Description=SmarterSmarterChild

[Service]
Type=simple
User=ssc
Group=ssc
Environment="LOG_LEVEL=info"
Environment="MAX_MSG_PER_MIN=10"
Environment="OSCAR_HOST=127.0.0.1"
Environment="OSCAR_PORT=5190"
Environment="OFFLINE_MODE=false"
Environment="OPEN_AI_KEY="
Environment="PASSWORD="
Environment="SCREEN_NAME=smartersmarterchild"
Environment="WORD_COUNT_LIMIT=25"
Environment="WORD_LENGTH_LIMIT=15"
ExecStart=/opt/ssc/smarter_smarter_child
Restart=on-failure

[Install]
WantedBy=multi-user.target
